body {
    background-color: #53507E;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    order: 0;
    height: 37px;
    width: 1100px;
    margin: 30px auto 115px auto;
}

#logo img {
    height: 37px;
}

#topnav {
    float: right;
}

#topnav a {
    margin: 12px 0 0 35px;
    text-decoration: none;
    color: #B1AEDE;
    font-weight: 800;
    font-size: 12px;
}

#topnav a:hover {
    color: white;
}

#topnav a:active {
    color: white;
    border-bottom: #FF8ED8 2px solid;
}

#leftarea {
    width: 550px;
    float: left;
}

#mainarea {
    order: 1;
    display: flex;
    flex-direction: row;
    align-self: auto;
}

#rightarea {
    align-self: flex-end;
    width: 550px;
    float: left;
}

#righttext {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 20px;
    color: #B1AEDE;
    margin-bottom: 120px;
}

button {
    height: 80px;
    padding: 30px 45px;
    border-radius: 40px;
    border-width: 0px;
    box-shadow: 0 0 30px rgba(255, 142, 216, 0.75);
    background-color: #FF8ED8;
    font-weight: 800;
    font-size: 24px;
    line-height: 20px;
    color: white;
}

button:hover {
    box-shadow: 0 0 30px rgba(64, 61, 101 0.75);
    color: #403D65;
}

h1 {
    font-weight: 800;
    font-size: 52px;
    color: white;
    line-height: 56px;
    margin-bottom: 35px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

.textbox {
    background-color: white;
    width: 750px;
    margin: 0 auto 90px auto;
    padding: 80px;
    box-shadow: 0 0 100px rgba(255, 255, 255, .75);
}

.textbox h2 {
    font weight: 800;
    font size 24px;
    color: #FF8ED8;
    margin-botom: 35px;
}

.textbox .name {
    color: #5C5C5C;
}

.textbox h3 {
    font weight: 800;
    font size 20px;
    color: #FF8ED8;
    margin-botom: 10px;
}

.textbox p {
    font-family: 'Roboto Slab', serif;
    font weight: 400;
    font size: 18px;
    font color: #5C5C5C;
    max-width: 480px;
}

#jeb {
    padding: 80px 80px 80px 180px;
    position: relative;
}

#jez {
    padding: 80px 180px 80px 80px;
    position: relative;
}

#jeb img {
    width: 208px;
    position: absolute;
    top: -40px;
    left: -70px;
    border: 10px solid white;
    border-radius: 50%;
}

#jez img {
    width: 208px;
    position: absolute;
    top: -40px;
    right: -70px;
    border: 10px solid white;
    border-radius: 50%;
}

footer {
    order: 2;
    margin-top: 100px;
    height: 105px;
    background-color: #403D65;
}

#foottop {
    width: 1100px;
    height: 34px;
    padding: 10px 0;
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#botnav {
    align-self: flex-start;
    font-weight: 800;
    font-size: 12px;
    color: #B1AEDE;
    margin: 10px 35px 0 0;
}

#botnav a {
    margin: 12px 0 0 35px;
    text-decoration: none;
    color: #B1AEDE;
    font-weight: 800;
    font-size: 12px;
}

#botnav a:hover {
    color: white;
}

#social img {
    margin-left: 10px;
    width: 34px;
}

#social img:hover {
    opacity: .75;
}

#footbot {
    height 35px;
    margin-top: 15px;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 12px;
    color: #B1AEDE;
    text-align: center;
}
