body {
    background-color: #53507E;
}

header{
    height: 37px;
    width: 1100px;
    margin: 30px auto 115px auto;
}

#topnav {
    float: right;
    margin: 12px 0 0 35px;
    background-color: white;
}

#topnav a {
    text-decoration: none;
    color: #B1AEDE;
    font-weight: 800;
    font-size: 12px;
}

ul{
    list-style-type: none;
}

li {
    display: inline;
}

#topnav a:hover {
    color: white;
}
